.container {
  width: 100vw;
  height: 100vh;
}

.main {
  min-height: 100vh;
 

  .imageSection{
   background-image: url('../assets/capa_marvel.jpg');
   width: 100%;
   height: 49rem;
  }

 .cardsContainer{
 margin-top: 40px;
    h2{
      padding: 20px;
      margin-left: 0.7rem;
      font-size: 30px;
      font-family: 'Bangers', cursive;
      letter-spacing: 1.3px;
    }

  .cardGroup{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: -2rem;
  }
 }
 
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
