.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 30px;
  padding: 20px;
  width: 16rem;
  height: 24rem;

  background: linear-gradient(152.07deg, #000000 94.88%, rgba(143, 143, 143, 0) 94.89%, rgba(255, 255, 255, 0) 100.76%);
  border-radius: 0.2rem;
 
  color: #fff;

  .imageSection{
    img{
      width: 12rem;
      height: 14rem;
      border-radius: 5px;
    }
  }

  h4{
    font-size: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 1.3px;
  }

  .description{
    font-size: 14px;

    strong{
      font-family: 'Bangers', cursive;
      letter-spacing: 1px;
    }
   
   > p{
     display: -webkit-box;
     -webkit-line-clamp: 4; /** número de linhas que você quer exibir */
     -webkit-box-orient: vertical;
     overflow: hidden;

     width: 230px;
     height: 70px;
     
     text-overflow: ellipsis;
     text-align: left;
     font-weight: 600;
     font-family: 'Comic Neue', cursive;
     
   }
   .button{
     width: 200px;
     height: 35px;
     border-radius: 5px;
     background: #FFD914;
      border: 0;
     
      display: flex;
      justify-content: center;
      align-items: center;
      
      cursor: pointer;
      p{
        font-size: 16px;
        margin-left: 6px;
        letter-spacing: 1.5px;
        text-align: center;
        font-weight: 600;
        font-family: 'Bangers', cursive;
        color: #000000;
      }

      
   }
   .button:hover{
    opacity: 0.9;
  }
  }

}